@media only screen and (orientation: landscape) and (min-width: 540px) and (max-width: 768px)
    .team-member
        // height: 300px
        // overflow: hidden
        flex-direction: row

        // &__name
        //     width: 10%

        &__image
            width: 40%
            height: 40%
            max-height: 300px

        &__text
            padding: 0.75rem
            width: 50%
            align-items: center
