.team-member
    &__text
        min-height: 4.5rem
        display: flex
        justify-content: center
        align-items: flex-start

        @media only screen and (orientation: landscape) and (min-width: 900px) and (min-width: 1100px)
            height: 130px

    &__name, &__text
        color: $dark-blue
